<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
      <%= current_user.username %>
      <form action="<%= session_url %>" method="POST">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Sign Out">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Sign In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
    <% end %>

    <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

    <%= yield %>
  </body>
</html>


<%# Extras %>

<label>Color</label>
<select name="comment[color]">
  <option disabled selected>-- select --</option>
  <% Cat::CAT_COLORS.each do |color| %>
    <option 
      <%= cat.color == color ? "selected" : "" %>
    value="<%= color %>">
    <%= color.upcase %>
    </option>
  <% end %>
</select>
