<h1> Signup </h1>

<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>

  <label for="user[user_name]">Username</label>
  <input type="text" name="user[user_name]" value="<%= @user.user_name %>">

  <label for="user[password]">Password</label>
  <input type="text" name="user[password]" value="<%= @user.password %>">
  <input type="submit" value="Create Account">
</form>